
.box {
	height: 25px;

	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.col-sm-6 {
	padding: 0;
}

.col-sm-12{
	padding: 0;
}

.linkScore {
	text-align: right; 
	float: left;
	position: relative;
	min-height: 50px;
	background-color: green;
}
.zeldaScore {
	text-align: right;
	float:left;
	position: relative;
	min-height: 50px;
	background-color: pink;	

}

.score {
	display: none;
	padding: 0;
	margin: 0 auto;
}