
.what {
	font-size: 75px;
  text-align: center;
  font-family: helvetica;
  color: red;
}

.the {
  font-size: 35px;
  color: red;
  text-align: center;
}

.fudge{
  font-size: 20px;
  color: red;
  text-align: center;
}

.purple {
	background-color: purple;
	border: 1px solid rgb(199, 132, 199);
  	padding-top: 10px;
  	padding-bottom: 10px;
  	height: 50px;
  	margin: 0 auto;
}

.green {
	background-color: green;
	border: 1px solid rgb(199, 132, 199);
  	padding-top: 10px;
  	padding-bottom: 10px;
  	height: 50px;
  	margin:0 auto;

}

.box {
  font-size: 25px; 
  color: white;
  text-align: center;
}

h4 {
  text-align: center;
}

