.box{
	 border: 1px solid rgb(0, 0, 0);
	 background-color: white;
	 min-height: 60px;
	 min-width: 60px;
	 text-align: center;
 

}

.empty {
	position: relative;
	z-index: 1; 
}
.board {
	position: absolute;
	z-index: 1; 
}

.middle {
	text-align: center;
	position: relative;	
	background-color: red;
	min-height: 100px;
	min-width: 100px;
	top: 50%;
	left: 50%;
	margin: 0 auto 0 auto; 
	z-index: 2;
	float: left;
}

.dice{
	float: left; 
	width: 32px; 
	background: white;
	border: 1px solid black;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	margin: 5px;

}