.box{
	 border: 1px solid rgb(0, 0, 0);
	 background-color: white;
	 min-height: 60px;
	 min-width: 60px;
	 text-align: center;


}

.empty {
	position: relative;
	z-index: 1;
	text-align: center; 
}

.board {
	position: absolute;
	left: 10px; 
	z-index: 1; 
	margin: auto;
}

.red{
	border: 3px solid red;
}

.green {
	 border: 3px solid green;
}

.blue{
	 border: 3px solid blue;
}

.yellow {
	 border: 3px solid yellow;
}

.middle {
	text-align: center; 
	position: relative;
	display: inline-block;
	float: center;
	top: 100px; 
	left: 10%;
	min-width:100px; 
	min-height:100px; 
}

.left {
	text-align: center;
	position: relative;	
	background-color: blue;
	min-height: 100px;
	min-width: 40%;
	top: 49%;
	margin: 0 auto 0 auto; 
	z-index: 2;
	float: left;
}

.right {
	text-align: center;
	position: relative;	
	background-color: red;
	min-height: 100px;
	min-width: 40%;
	top: 49%;
	margin: 0 auto 0 auto; 
	z-index: 2;
	float: left;

}

.dice{
	display: inline-block;
	width: 32px; 
	background: white;
	border: 1px solid black;
	padding: 5px;
	font-size: 10px;
	text-align: center;
	margin: 5px;

}

.btn1{
	display: none;
}

.btn2{
	display: none;
}

.btn3{
	display: none;
}

#topBanner {
	position: relative;

}

#topBannerTwo {
	position: relative;

}

body {
	background-color: darkgray;
}


h1 {
	text-align: center;
	position: relative;
	max-height: 10%;
	max-width: 75%;

	display: block;
	margin-left:  auto;
	margin-right: auto;
}

h3 {
	font-size: 20px;
	color: white;
	text-align: center;
}
